body {
  font-family: sans-serif;
  color: #333;
  padding: 2em;
  margin: 0;
  border: 2em solid gray;
}

h3 {
  margin: 0;
}

#verticalPane,
#horizontalPane,
#fitPane {
  height: 15em;
  padding: 1em;
  margin: 1em 0;
  border: 0.5em solid gray;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#horizontalPane,
#horizontalPane .dummyContent {
  flex-wrap: nowrap;
  display: flex;
}

#horizontalPane p {
  min-width: 50px;
  text-align: center;
}

.block {
  background: gray;
  height: 5em;
  padding: 1em;
  transition: background 0.5s;
}
